NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=arkedu_bot
NEXT_PUBLIC_SUPABASE_URL=https://svdigxqdivcmljirjwhk.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_hUwidPKyACilx67GyFeocA_v9rWpnBB
SUPABASE_SECRET_KEY=replace_in_vercel_only
ADMIN_ACCESS_KEY=replace_in_vercel_only
ADMIN_ENTRY_CODE=909090
AUTH_SESSION_SECRET=replace_with_at_least_32_random_characters
BOT_REGISTRATION_SECRET=replace_with_long_random_secret
